{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}



<div id='site-footer' class='site-footer' style='text-align: center'>
<div class='pure-g site-footer-container'>
<div class="pure-u-1 pure-u-sm-1-2">
<b>Contact:</b> <a target="_blank" href="mailto:sibamishracse@gmail.com"><span class="fa fa-envelope-square fa-2x" style="color:#000000;font-size:22px;" aria-hidden="true"></span></a>
<a target="_blank" href="callto:live:sibamishracse"><span class="fa fa-skype fa-2x" style="color:#000000;font-size:22px" aria-hidden="true"></span></a>
</div>
</div>
</div>


<div class='site-footer'>
 <div class='pure-g site-footer-container'>
<div class="pure-u-1 pure-u-sm-1-2">
<a target="_blank" href="https://scholar.google.co.in/citations?user=J5u1v6QAAAAJ&hl=en"><span class="ai ai-google-scholar-square ai-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a> 
<a target="_blank" href="https://dblp.uni-trier.de/pid/143/7257.html?q=author%3DSiba_Mishra"><span class="ai ai-dblp-square ai-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a> 
<a target="_blank" href="https://dl.acm.org/profile/87958799257"><span class="ai ai-acmdl-square ai-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a> 
<a target="_blank" href="https://orcid.org/0000-0002-9893-595X"><span class="ai ai-orcid-square ai-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a> 
<a target="_blank" href="https://www.github.com/SibaMishra/"><span class="fa fa-github-square fa-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a>
<a target="_blank" href="https://tex.stackexchange.com/users/85426/"><span class="fa fa-stack-exchange fa-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a>
<a target="_blank" href="https://www.scopus.com/authid/detail.uri?authorId=57200330225"><span class="ai ai-scopus-square ai-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a>
<a target="_blank" href="https://sibamishra.github.io/assets/cv/SIBA_CV.pdf"><span class="ai ai-cv-square ai-2x" style="color:#000000;font-size:25px;" aria-hidden="true"></span></a>
  </div>
  </div>
</div>


<div class='site-footer'>
    <div class='pure-g site-footer-container'>
<div class="pure-u-1 pure-u-sm-1-2">
<small> Last Build: {{ site.time }}. </small>
</div>
  </div>
</div>


{% if site.creative-commons.cc-by %}
<span><a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> using the <a href="https://ncsu-libraries.github.io/jekyll-academic/" rel="nofollow">Jekyll Academic</a> theme.
<br /></span>
{% elsif site.creative-commons.cc-by-nc %}
<span><a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> using the <a href="https://ncsu-libraries.github.io/jekyll-academic/" rel="nofollow">Jekyll Academic</a> theme.
<br /></span>
{% else  %}
<small><span> &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> using the <a href="https://ncsu-libraries.github.io/jekyll-academic/" rel="nofollow">Jekyll Academic</a> theme. Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.  
<br /></span></small>
{% endif %}

