<div class="navigation-wrapper">
	<div class="site-name">
		{% if site.logo %}
		<a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/{{ site.logo }} "></a>
		{% else %}
		<samp><a href="{{ site.github.url }}/" style="text-decoration: none; font-size: 1.6em;">{{ site.title }}</a></samp>
		{% endif %}
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.github.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
		    </ul>
		</nav>
		 <button
              id="dark-mode-button"
              onClick={(event) => {
                const theme =
                  typeof window !== 'undefined' && localStorage.getItem('theme')

                if (theme === 'dark') {
                  typeof window !== 'undefined' &&
                    localStorage.removeItem('theme')
                  const link = document.querySelectorAll('#dark-mode')

                  if (link) {
                    link.forEach((el) => el.remove())
                    event.target.textContent = '🌚'
                  }
                } else {
                  typeof window !== 'undefined' &&
                    localStorage.setItem('theme', 'dark')
                  event.target.textContent = '🌕'
                  const head = document.getElementsByTagName('head')[0]
                  const link = document.createElement('link')
                  link.rel = 'stylesheet'
                  link.id = 'dark-mode'
                  link.href = '../dark.css'

                  head.appendChild(link)
                }
              }}
            >
              {typeof window !== 'undefined' &&
              localStorage.getItem('theme') === 'dark'
                ? '🌕'
                : '🌚'}
            </button>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
