<div class="news">
  <h5><samp><u>Recent Updates:</u></samp></h5>
  {% if site.news  %}
    <div class="mytable1-responsive">
      <table class="mytable1">
      {% assign news = site.news | sort: 'date' | reverse %}
      {% for item in news limit: site.news_limit %}
        <tr>
          <th scope="row"><small>{{ item.date | date: "%b, %Y" }}</small></th>
          <td>
            {% if item.inline %}
            <small>{{ item.content | remove: '<p>' | remove: '</p>' | emojify }}</small>
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
         </td>
        </tr>
      {% endfor %}
  <tr>
  <td class="date"></td>
	  <td class="align-right">
<a class="all-news" style="float: right;position: relative;color: initial" href="{{ '/news/' | prepend: site.baseurl | prepend: site.url }}"><small>(All older updates)</small></a>
	  </td>
    </tr>
</table>
</div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
  </div>
<!-- {% for item in site.news limit:>5 %}
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/news/">All news</a>)</small></h4>
  {% endfor %} -->

