<div class="news">
  <h4><samp><u>Recent Updates:</u></samp></h4>
  {% if site.news  %}
    <div class="pure-g table">
      <table class="table table-sm table-borderless">
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
        <small>{{ item.date | date: "%b, %Y" }}</small>
            {% if item.inline %}
            <small>{{ item.content | remove: '<p>' | remove: '</p>' | emojify }}</small>
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
