<div class="news">
  <h5><samp><u>Recent Updates:</u></samp></h5>
  {% if site.news  %}
    <div class="mytable1-responsive">
      <table class="mytable1">
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
        <mytable1 tr>
          <mytable1 th scope="row"><small>{{ item.date | date: "%b, %Y" }}</small><mytable1 /th>
          <mytable1 td>
            {% if item.inline %}
            <small>{{ item.content | remove: '<p>' | remove: '</p>' | emojify }}</small>
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
         <mytable1 /td>
        <mytable1 /tr>
      {% endfor %}
  </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
  </div>
<!-- {% for item in site.news limit:>5 %}
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/news/">All news</a>)</small></h4>
  {% endfor %} -->

